body{
    font-family: 'nunito', monospace;
    background-color: rgb(247, 234, 229);
}
#navbar{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbar p{
    margin-top: -5%;
}
#home img{
    width: 30px;
    margin-top: 60%;
}
#cart img{
    width: 30px;
    margin-top: 60%;
}
#profile img{
    width: 30px;
    margin-top: 60%;
}
#checkout img{
    width: 30px;
    margin-top: 60%;
}
#payment img{
    width: 30px;
    margin-top: 60%;
}
#payment_detail{
    width: 90%;
    margin-left: 7.5%;
}
#main{
    padding: 0px;
    margin: auto;
}
#address{
    width: 65%;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    padding: 0px;
    margin: auto;
}
#address_detail{
    display: grid;
    margin-left: 5%;
}
#add{
    width: 100%;
    cursor: pointer;
    /* color: white; */
    background-color: #BF0D12;
}
#add:hover{
    background-color: #BF0D12;
    color: white;
}
#detail{
    display: grid;
    width: 93%;
    border:1px;
    border-radius: 2px;
    text-align: center;
}
#detail input{
    padding: 10px;
    margin-bottom: 5%;
    outline: none;
    background-color: #FFF8E9;
    border: 1px solid #1E1E1E;
    font-family: 'nunito', monospace;
}
#detail p{
    margin-top: -5%;
    color: #BF0D12;
}
/* #pay{
    width: 30%;
    margin-left: 5%;
    background-color: rgb(247, 234, 229);
}
#pay_detail{
    width: 85%;
    margin-left: 7.5%;
}
#code{
    background-color: white;
    border: 1px solid black;
}
#code > h4{
    width: 60%;
    margin-left: 25%;
}
#code p{
    width: 60%;
    margin-left: 25%;
}
#promo_code{
    background-color: orange;
    height: 55px;
}
#promo_code input{
    margin-top: 3%;
    width: 60%;
    border: none;
    background-color: orange;
    outline: none;
    margin-left: 5%;
    padding: 10px;
}
#apply{
    padding: 10px;
    width: 25%;
    border: none;
    cursor: pointer;
    background-color: orange;
}
#item_cost{
    display: flex;
    flex-direction: column;
}
#rzp-button1{
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: rgb(247, 244, 244);
    width: 100%;
    /* margin-left: 10%; */
/* #btn:hover{
    background-color: orange;
    color: black;
} */
@media only screen and (max-width: 500px) {
    #navbar{
        display: none;
    }
    #main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #address{
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    #detail{
        width: 100%;
    }

    #pay {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: 0%;
    }

}

/* navbar css here */
body{
    background-color: #FFF8E9;
    font-family:'PT Mono', monospace;
    /* font-family: 'Nunito', sans-serif; */
    /* width: 90%;
    margin: auto; */
}


/* navbar css */

#upper_nav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#left{
    display: flex;
    gap: 30px;
}
#right span{
   font-size: 22px;
   margin: 15px;
}
#right span:hover{
    cursor: pointer;
}
#hr1{
    margin-top: -4px;
    height: 1px;
    background-color: black; 
}
#lower_nav h1{
    font-size: 32px;
    margin-top: 0px;
}
#lower_nav{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#lower_nav div:nth-child(2){
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-top: -18px;
}
#lower_nav div:nth-child(2) h4:hover{
    cursor: pointer;
}
#lower_nav div:nth-child(3){
    margin-top: -20px;
}
#lower_nav div:nth-child(3) input{
    border: none;
    width: 200px;
    padding: 8px;
    background-color: #FFF8E9;
    font-family:'PT Mono', monospace;
}
#hr2{
    margin-top: -11px;
    height: 1px;
    background-color: black;   
}
#upper_nav a{
    text-decoration: none;
    color: black;
  }
  #searchh{
    width: 100%;
  }

  @media (max-width : 500px){
    #upper_nav > #left{
      display: none;
    }
    #upper_nav > #right{
      display: flex;
      padding-left: 180px;
    }
    #nav_middle h4{
      display: none;
    }
    #lower_nav div h1{
      font-size: 20px;
    }
    #lower_nav div:nth-child(3){
      display: flex;
      align-items: center;
    }
  }
  #minewine a{
    text-decoration: none;
    color: black;
  }

  /* navbar css end */